<div class="section-two-container">
  <div class="content">
    <img src="./assets/kubo-obi.jpeg" />
  </div>
  <div class="content description">
    <h1 class="section-two-header">
      Bringing Homes to Life Through Photography and Expertise
    </h1>
    <div>
      Hi, I’m McKenzie Taylor, a real estate agent and photographer with Poplar
      Bluff Realty, serving beautiful Southeast Missouri. When I’m not touring
      homes, you’ll likely find me reading a good book, spending time with my
      cats, or enjoying a cup of coffee at Fox Trot, our local coffee shop.
      While I love seeing all the stunning homes in our area, my true passion
      lies in helping first-time homebuyers navigate the often-intimidating
      process of buying a home. I’m here to make the journey as smooth and
      stress-free as possible, offering guidance every step of the way. Whether
      you’re buying or selling, I’d love to help you find your perfect home!
    </div>
  </div>
</div>
