app-header {
  top: 0;
  padding: 0;
  position: fixed;
  z-index: 2;
  width: 100vw;
}

.body {
  z-index: 1;

  app-section-one {
    top: 0;
  }

  app-section-two {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  app-section-three {
    display: flex;
    justify-content: space-around;
  }
}

