<div class="section-three-container">
  <div class="text">
    Ready to find your dream home or capture your property in its best light?
    Let’s connect! Whether you're buying, selling, or need stunning real estate
    photography, I’m here to help. Set up an appointment today, and let’s make
    it happen!
  </div>
  <div class="appointments">
    <div class="booking appointment-type">box 1</div>
    <div class="booking information">box 2</div>
    <div class="booking confirmation">box 3</div>
  </div>
</div>
