.section-three-container {
  display: flex;

  .text {
    width: 30em;
    font-size: x-large;
    font-weight: 200;
    color: gray;
    padding: 2em;
  }

  .appointments {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    border: .75px solid lightgray;
    border-radius: 1%;
    height: 30em;
    width: 30em;
    // align-items: center;

    .header {
      font-size: x-large;
      padding: 2em;
    }
    .booking {
      display: flex;
      flex-direction: column;
      align-items: center;

      .booking-information {
        width: 24em;
        height: 7em;
        border: .75px solid lightgray;
        border-radius: 1%;
      }
    }
  }
}
