.section-three-container {
  display: flex;

  .text {
    width: 30em;
    font-size: x-large;
    font-weight: 200;
    color: gray;
    padding: 2em;
  }

  .appointments {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .booking {
      width: 30em;
      height: 7em;
      border: .75px solid lightgray;
      border-radius: 1%;
    }
  }
}
