<div class="section-three-container">
  <div class="text">
    Ready to find your dream home or capture your property in its best light?
    Let’s connect! Whether you're buying, selling, or need stunning real estate
    photography, I’m here to help. Set up an appointment today, and let’s make
    it happen!
  </div>
  <div class="appointments">
    <div class="header">Book a consultation with me!</div>
    <div class="booking">
      <form>
        <div class="booking-information">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <label class="form-check-label" for="flexCheckIndeterminate">
              Indeterminate checkbox
            </label>
            <mat-checkbox>Real Estate Photography</mat-checkbox>
          </div>
        </div>
        <div class="booking-information"></div>
        <div class="booking-information">extra information</div>
      </form>
    </div>
  </div>
</div>
