<div class="section-three-container">
  <div class="text">
    Ready to find your dream home or capture your property in its best light?
    Let’s connect! Whether you're buying, selling, or need stunning real estate
    photography, I’m here to help. Set up an appointment today, and let’s make
    it happen!
  </div>
  <div class="appointments">
    <div class="header">Book a consultation with me!</div>
    <div class="booking">
      <form>
        <div class="booking-information">
          <input placeholder="Full Name" type="text" class="form-control" />
          <input placeholder="Email" type="email" class="form-control" />
          <input placeholder="Phone Number" type="text" class="form-control" />
          <textarea
            placeholder="A brief description"
            type="text"
            class="form-control"
          ></textarea>
          <div>
            <button class="btn btn-dark" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
